.card {
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-title {
    font-weight: bold;
}

.card-img-top {
    height: 200px;
    object-fit: contain;
    background-color: #f8f9fa;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 600;
}

.card-text {
    font-size: 0.9rem;
}

.card-rebajada {
    border: 2px solid #dc3545;
    /* rojo */
    background-color: #fff0f0;
    /* muy suave */
}